
body {
            font-family: 'Arsenal', sans-serif;
            font-size: 1.1rem;
            /* Increase font size */
        }

        header *,
        footer * {
            font-family: inherit !important;
            font-size: initial !important;
            /* Keep default font size */
        }

        .banner {
            position: relative;
            text-align: center;
            color: white;
            overflow: hidden;
            /* Ensure content does not overflow */
        }

        .banner img {
            width: 100%;
            height: auto;
            /* Maintain aspect ratio */
            max-height: 800px;
            object-fit: cover;
            opacity: 0.8;
            /* Scale the image to fit within the container */
        }

        .banner-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #2d3a5c;
        }

        .full-width-image {
            width: 100%;
            height: auto;
            /* Adjusts height to maintain aspect ratio */
            display: block;
            /* Removes extra space below the image */
        }

        .stories-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 1rem;
            /* Space between cards */
            padding: 1rem;
        }

        .story-card {
            background-color: #fff;
            border: 2px solid #2d3a5c;
            border-radius: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .story-card h2 {
            font-size: 1.5rem;
            color: navy;
            font-weight: bolder;

        }

        .story-card p {
            height: 100px;
            overflow: hidden;
        }

        .story-card footer {
            color: #777;
            font-size: 14px;
            margin-top: 10px;
        }

        .rating {
            color: #ffc107;
            font-size: 18px;
        }

        .faq-section {
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .faq-section h2 {
            color: #2d3a5c;
            margin-bottom: 20px;
        }

        .faq-section .card-header {
            background-color: #f8f9fa;
            cursor: pointer;
        }

        .faq-section .card-header:hover {
            background-color: #e2e6ea;
        }

        .card-columns {
            column-count: 1;
        }

        @media (min-width: 576px) {
            .card-columns {
                column-count: 2;
            }
        }

        @media (min-width: 768px) {
            .card-columns {
                column-count: 3;
            }
        }

        .card {
            margin-bottom: 1rem;
        }