body{
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Kaisei Opti';
    box-sizing: border-box;
}

/*Login Page*/
.login-container{
    display: flex;
}
.login-image{
    flex: 35%;
}
.login-image > img{
    width: 100%;
    height: 830px;
}
.login-text{
    flex: 65%;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}
.login-text > h1{
    font-size: 55px;
    color: #142a43;
}
.login-form{
    padding: 8px 220px;
}
.login-form > h3{
    font-size: 30px;
    color: #142a43;
}
.login-form > a{
    color: #1F426B;
    font-size: 17px;
}
.login-form > a:hover{
    color: #142a43;
    font-weight: bold;
}
.login-form > input[type=email]{
    width: 100%;
    padding: 0px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.login-form > input[type=password]{
    width: 100%;
    padding: 0px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.login-form > button{
    width: 50%;
    background-color: #1F426B;
    color: white;
    padding: 0px 20px;
    margin: 40px 0 0 0;
    font-size: 20px;
    border-radius: 6px;
}
.login-form > button:hover{
    background-color: #142a43;
}


/*Forgot Passsword Page*/
.fpassword-container{
    display: flex;
}
.fpassword-image{
    flex: 35%;
}
.fpassword-image > img{
    width: 100%;
    height: 830px;
}
.fpassword-text{
    flex: 65%;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}
.fpassword-text > h1{
    font-size: 55px;
}
.fpassword-form{
    padding: 68px 100px;
}
.fpassword-form > h3{
    font-size: 22px;
}
.fpassword-form > input[type=email] {
    width: 80%;
    padding: 0px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.fpassword-form > button{
    width: 40%;
    background-color: #1F426B;
    color: white;
    padding: 0px 20px;
    margin: 90px 0 0 0;
    font-size: 20px;
    border-radius: 6px;
}
.fpassword-form > button:hover{
    background-color: #142a43;
}

/*Header.php css*/

.textStyling{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerClass{
    background-color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 20px;
}

.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img{
    height: 110px;
}

nav{
    flex: 1;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.login .login-btn{
    background-color: #2D3A5C;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.login .login-btn:hover{
    background-color: #142a43;
}

/*footer.php styles*/

.footerContainer{
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerContainer .footer-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.footerContainer .footer-content .section{
    margin: 20px;
    flex: 1;
    min-width: 200px;
}

.footerContainer .footer-content .section img{
    display: block;
    margin: 0 auto 10px auto;
}

.footerContainer .footer-content .section h3{
    margin-bottom: 11px;
}

.footerContainer .footer-content .section p{
    margin: 10px 0;
    text-align: center;
}

.footerContainer .footer-content .section ul{
    list-style: none;
    padding: 0;
}

.footerContainer .footer-content .section ul li{
    margin: 5px 0;
}

.footerContainer .footer-content .section ul li a{
    color: white;
    text-decoration: none;
}

.footerContainer .footer-content .section ul li a:hover{
    text-decoration: underline;
}

.footerContainer .footer-bottom{
    margin-top: 22px;
    font-size: 14px;
}

/*Sign-Up Page*/
.signup{
    margin-top: 50px;
}
.signup > h1{
    text-align: center;
    color: #142a43;
}

.signup-container{
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 200px;
}
.signup-container > div{
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}
.signup-container > div img{
    width: 100%;
    border-radius: 10px;
}
.signupForm{
    margin: 50px 390px;
}
.signup-form > h1{
    text-align: center;
    color: #142a43;
}
.signup-form > input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 15px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.signup-form > button{
    width: 30%;
    background-color: #1F426B;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    border-radius: 6px;
}

.signup-form > button:hover{
    background-color: #142a43;
}