* {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;

}


/*Login Page*/
.login-container {
    display: flex;
}

.login-image {
    flex: 50%;
}

.login-image>img {
    width: 100%;
    height: 830px;
}

.login-text {
    flex: 50%;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}

.login-text>h1 {
    font-size: 55px;
    color: #142a43;
}

.login-form {
    padding: 8px 100px;
}

.login-form>h3 {
    font-size: 30px;
    color: #142a43;
}

.login-form>a {
    color: #1F426B;
    font-size: 17px;
}

.login-form>a:hover {
    color: #142a43;
    font-weight: bold;
}

.login-form>input[type=email] {
    width: 100%;
    padding: 0px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.login-form>input[type=password] {
    width: 100%;
    padding: 0px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.login-form>button {
    width: 50%;
    background-color: #1F426B;
    color: white;
    padding: 0px 20px;
    margin: 40px 0 0 0;
    font-size: 20px;
    border-radius: 6px;
}

.login-form>button:hover {
    background-color: #142a43;
}


/*Forgot Passsword Page*/
.fpassword-container {
    display: flex;
}

.fpassword-image {
    flex: 50%;
}

.fpassword-image>img {
    width: 100%;
    height: 830px;
}

.fpassword-text {
    flex: 50%;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
}

.fpassword-text>h1 {
    font-size: 55px;
}

.fpassword-form {
    padding: 68px 30px;
}

.fpassword-form>h3 {
    font-size: 22px;
}

.fpassword-form>input[type=email] {
    width: 80%;
    padding: 0px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.fpassword-form>button {
    width: 40%;
    background-color: #1F426B;
    color: white;
    padding: 0px 20px;
    margin: 60px 0 30px 0;
    font-size: 20px;
    border-radius: 6px;
}

.fpassword-form>button:hover {
    background-color: #142a43;
}



/*Header.php css*/

.textStyling {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headerClass {
    background-color: #ffffff;
    border-bottom: 1px solid #dcdcdc;
    padding: 10px 20px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.logo img {
    height: 110px;
}

nav {
    flex: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
}

.nav-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.nav-dropdown a {
    color: black;
    padding: 20px 20px;
    text-align: none;
}

.nav-dropdown a:hover {
    background-color: #f1f1f1;
    color: #99D3E1;
}

nav ul li:hover .nav-dropdown {
    display: block;
}

.login .login-btn {
    background-color: #2D3A5C;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.login .login-btn:hover {
    background-color: #142a43;
}

.menu-toggle {
    display: none;
}

.nav-menu {
    display: none;
}


/*footer.php styles*/

.footerContainer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footerContainer .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.footerContainer .footer-content .section {
    margin: 20px;
    flex: 1;
    min-width: 200px;
}

.footerContainer .footer-content .section img {
    display: block;
    margin: 0 auto 10px auto;
}

.footerContainer .footer-content .section h3 {
    margin-bottom: 11px;
}

.footerContainer .footer-content .section p {
    margin: 10px 0;
    text-align: center;
}

.footerContainer .footer-content .section ul {
    list-style: none;
    padding: 0;
}

.footerContainer .footer-content .section ul li {
    margin: 5px 0;
}

.footerContainer .footer-content .section ul li a {
    color: white;
    text-decoration: none;
}

.footerContainer .footer-content .section ul li a:hover {
    text-decoration: underline;
}

.footerContainer .footer-bottom {
    margin-top: 22px;
    font-size: 14px;
}

/*Sign-Up Page*/
.signup,
.usrprofile {
    margin-top: 50px;
}

.signup>h1,
.usrprofile>h1 {
    text-align: center;
    color: #142a43;
    font-weight: bold;
}

.signup-text,
.usrprofile-text {
    margin-top: 20px;
}

.signup-container,
.usrprofile-container {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px 200px;
}

.signup-container>div,
.usrprofile-container>div {
    border: 1px solid black;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}

.signup-container>div img {
    width: 100%;
    border-radius: 10px;
}

.usrprofile-container>div img {
    width: 100%;
    border-radius: 10px;
}

.signupForm {
    margin: 50px 390px;
}

.signup-form>h1 {
    text-align: center;
    color: #142a43;
    margin-top: 20px;
    font-weight: bold;
}

.signup-form>input[type=email],
input[type=password],
input[type=text] {
    width: 100%;
    padding: 15px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

#Gender {
    width: 100%;
    padding: 15px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.signup-form>button {
    width: 30%;
    background-color: #1F426B;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    border-radius: 6px;
}

.signup-form>button:hover {
    background-color: #142a43;
}

/* User Profile Setup code */
.userProfileForm>h1 {
    text-align: center;
    margin-top: 30px;
    color: #142a43;
    font-weight: bold;
}

.row {
    margin: 50px 70px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 140px;
}

.form-section {
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
}

.form-section>h3 {
    font-weight: bold;
}

.form-section>input[type="text"],
.form-section>input[type="number"],
.form-section>textarea,
.form-section>select {
    width: 100%;
    height: 50px;
    padding: 5px 20px;
    margin: 18px 0;
    border-radius: 4px;
    border: 2px solid silver;
}

.row>button {
    width: 30%;
    background-color: #1F426B;
    color: white;
    padding: 14px 20px;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    border-radius: 6px;
}


/* Mobile screen for all the pages */
@media only screen and (max-width: 800px) {
    .login-container {
        flex-direction: column;
    }

    .login-form {
        padding: 8px 20px;
    }

    .fpassword-container {
        flex-direction: column;
    }

    .fpassword-form {
        padding: 8px 10px;
    }

    .signup-container,
    .usrprofile-container {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
    }

    .row {
        margin: 0px;
        padding: 10px 20px;
    }

    .form-section {
        flex: 100%;
        max-width: 100%;
    }

    .form-section>h3 {
        margin-top: 15px;
    }

    .signupForm {
        margin: 0px 40px;
    }

    .signup-form>button {
        padding: 14px 0px;
    }

    /*footer mobile view styles*/
    .footerContainer {
        text-align: center;
    }

    .footerContainer .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footerContainer .footer-content .section {
        margin: 20px 0;
        flex: 1;
        min-width: 200px;
    }

    .footerContainer .footer-content .section img {
        margin: 0 auto 10px;
    }


    /*Header mobile version styles*/
    .menu-toggle {
        display: block;
        cursor: pointer;
        font-size: 24px;
    
    }

    .menu-toggle i {
        font-size: 24px;
        color: #333;
    }

    .nav-menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
        padding: 20px;
        z-index: 1000;
        overflow-y: auto;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }

    .nav-menu.active {
        display: block;
        transform: translateX(0);
    }

    .nav-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .nav-menu ul li {
        margin: 20px 0;
    }

    .nav-menu ul li a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        display: block;
        padding: 10px 0;
    }

    nav {
        display: none;
    }

    .login {
        display: none;
    }


}

/*to block and unblock the menu option for mobile & desktop version*/
@media (min-width: 801px) {
    .menu-toggle {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    nav {
        display: flex;
    }

    .headerContainer {
        justify-content: space-between;
    }

    .login {
        margin-left: auto;
    }
}

/* Styles For Healing Stories Page */

/* Custom Styles */
h2 {
    color: #333;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card-body blockquote {
    font-size: 16px;
    color: #555;
}

blockquote footer {
    font-size: 14px;
    color: #777;
}

.rating span {
    color: #ffc107; /* Bootstrap warning color for stars */
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

footer p {
    margin: 0;
    text-align: center;
}

